body {
  padding-top: 70px;
  font-family: 'Roboto', serif;
}

.navbar-inverse .navbar-header .navbar-brand {
    color: #f0ad4e;
}

.popover {
  max-width: 600px;
}

.popover-table {
  width: 400px;
}

.back-to-top {
  cursor: pointer;
  position: fixed;
  margin-bottom: 50px;
  bottom: 15px;
  right: 15px;
  display: none;
}