body {
  padding-top: 70px;
  padding-bottom: 20px;
  font-family: 'Roboto', serif;
}

.navbar {
  margin-bottom: 20px;
}

.navbar-inverse .navbar-header .navbar-brand {
    color: #f0ad4e;
}

.popover {
  max-width: 600px;
}

.popover-table {
  width: 400px;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: none;
}