.popover{
  max-width: 600px;
}

.table {
  width: 400px;
}

body {
  font-family: 'Roboto', serif;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: none;
}