<html>

  <head>

    <title>Search And Show Without Refresh</title>

    <!-- JQUERY FROM GOOGLE API -->
    <script type="text/javascript" src="static/js/jquery.js"></script>
    <script src="static/js/audiojs/audio.min.js"></script>
    <script src="static/js/player.js"></script>

    <script type="text/javascript">
      $(function() {
        $("#search_form").bind('submit', function() {
          var value = $('#str').val();
          $.post('/search', { value: value }, function(data) {

            $.each(data, function (index, item) {
              $("#search_results").html(item.title);
              $('<li/>')
              .append($('<a/>').prop('href', '#').attr('data-src', item.link).text(item.title))
              .appendTo('#olly')

              initPlayer();
        //$('<a/>')
          //.append($('<img>').prop('src', data.thumb))
          //.prop('href', data.name)
          //.prop('title', data.title)
          //.attr('data-gallery', '')
          //.appendTo(linksContainer)
      })
            //'json'
             //$("#search_results").html(data);
           }, 'json');
           return false;
        });
      });
    </script>

  </head>

  <body style="margin:0;padding:0px;width:100%;height:100%;background-color:#FFFFFF;">

    <div style="width:1024px;margin:0 auto;height:100px;background-color:#f0f0f0;text-align:center;">
      HEADER
    </div>
    <div style="width:1024px;margin:0 auto;height:568px;background-color:#f0f0f0;text-align:center;">
      <form id="search_form" action="" style="width:400px;margin:0 auto;text-align:left;">
        Search:<input type="text" name="str" id="str">
        <input type="submit" value="send" name="send" id="send">
      </form>
      <div id="search_results"></div>
    </div>

<div id="wrapper">
      <h1>A State Of Trance</em></h1>
      <audio preload></audio>
      <ol id="olly">
        <!--li><a href="#" data-src="http://cs1-40v4.vk-cdn.net/p2/3653f7347c0a44.mp3?extra=l0FASn6tzfdO_S7hkLn-7n7fbXjHKDpBIGZ2fdop2s7B64I5mSbA_UOCwW0Y1dvhoRazUQvo-4hj8LMi-aGHmoywsGdzj2RFAw5zdggJqisH6ASnIhz-z3GnHStYpBrKaxsftRXMZw0RHSE">A State Of Trance 436 (Top 20 Of 2009) (24.12.2009)</a></li>
        <li><a href="#" data-src="http://cs1-16v4.vk-cdn.net/p29/238afbe1f26074.mp3?extra=7W14B_RUSZlWnvLztQROyTpGFQlLsMgXUtlCBw_yYYxYt0APUzmRbuNZy1ya6070CvPk3weGfnKNPxCsAb0NtNpeOnx6kvswLF6EoXUvZOsZJu36gxhYsMMiUdruy8ZSBTAAfTHX14K788c">A State Of Trance 488 (Top 20 Of 2010) (23.12.2010)</a></li>
        <li><a href="#" data-src="http://cs1-19v4.vk-cdn.net/p7/ff93a450c16bbe.mp3?extra=3WqtiO0Zz51JS681DRX_AS-9vJXTYOYQX-8IrEzlM78R5TWMjmHY0Z9GJ5QXqUy0b9eyLbz6RqrRJtWCYCuvkex_WfmULypYnOMxa52IKOJ_VxMAXZQmcnoMb4IY_HwIDDftzv5-syBr8PY">A State Of Trance 540 (Top 20 Of 2011) (22.12.2012)</a></li>
        <li><a href="#" data-src="http://cs422619.vk.me/u3504388/audios/6738a49929d7.mp3?extra=0AInPNc4OrsJ0fL4TVLB96WYW3FxkP_HDZzB9mHzNVwPddA6nPdfGddcK_gFbvoQX6yrCltxOm_ZbOVxm1i1hSAsKn1Fhp95bYtzlBPa219sA5eyLXq9DaDv7wxedL8BY2zd3K4v8sG2">A State of Trance Episode 720 (2015-07-02)</a></li-->
        <!--li><a href="#" data-src="http://kolber.github.io/audiojs/demos/mp3/05-one-more-chance-for-a-heart-to-skip-a-beat.mp3">one more chance for a heart to skip a beat</a></li>
        <li><a href="#" data-src="http://kolber.github.io/audiojs/demos/mp3/06-suicidal-fantasy.mp3">suicidal fantasy</a></li>
        <li><a href="#" data-src="http://kolber.github.io/audiojs/demos/mp3/07-everyday-shelter.mp3">everyday shelter</a></li>
        <li><a href="#" data-src="http://kolber.github.io/audiojs/demos/mp3/08-basic-hypnosis.mp3">basic hypnosis</a></li>
        <li><a href="#" data-src="http://kolber.github.io/audiojs/demos/mp3/09-infinite-victory.mp3">infinite victory</a></li>
        <li><a href="#" data-src="http://kolber.github.io/audiojs/demos/mp3/10-the-curious-incident-of-big-poppa-in-the-nighttime.mp3">the curious incident of big poppa in the nighttime</a></li>
        <li><a href="#" data-src="http://kolber.github.io/audiojs/demos/mp3/11-mo-stars-mo-problems.mp3">mo stars mo problems</a></li-->
      </ol>
    </div>

    <div style="width:1024px;margin:0 auto;height:100px;background-color:#f0f0f0;text-align:center;">
      FOOTER
    </div>

  </body>

</html>